body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right,#353935, darkred);
  font-weight: bold;
  color: white;
  }
  #section{
    display:flex;
    margin-left: 400px;
  }
  .player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
  .wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #28282B;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .arte-musica {
  margin: 25px;
  height: 250px;
  width: 250px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  
  .tocando-agora {
  font-size: 1rem;
  }
  
  .nome-faixa {
  font-size: 1.7rem;
  }
  
  .artista-faixa {
  margin-top: 5px;
  font-size: 1.5rem;
  }
  
  .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  }
  .active{
      color: black;
  }
.fa-5x{
  color: darkred;
}
  .repete-faixa,
  .faixa-aleatoria,
  .pausa-faixa,
  .faixa-anterior,
  .proxima-faixa {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }
  
  .repete-faixa:hover,
  .faixa-aleatoria:hover,
  .faixa-anterior:hover,
  .proxima-faixa:hover {
  opacity: 1.0;
  }

  .fa-5x:hover{
    color: red;
    transition-duration: 500ms;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: red;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid red;
  cursor: grab;
  border-radius: 100%;
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .tempo-atual,
  .duracao-total {
  padding: 10px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
  .loader {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .stroke{
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animate 1.4s linear infinite;
  }
    @keyframes animate {
      50% {
        height: 20%;
        background: red;
      }
  
      100% {
        background: #28282B;
        height: 100%;
      }
    }
    .stroke:nth-child(1){
        animation-delay: 0s;
    }
    .stroke:nth-child(2){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(3){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(4){
      animation-delay: 0.9s;
  }
  .stroke:nth-child(5){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(6){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(7){
      animation-delay: 0s;
  }
  .playlist{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 142px;
    border-radius: 20px;
    width: 600px;
    height: fit-content;
    background-color: #28282B;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .p_musicas{
    width: 90%;
    display: flex;
    margin-inline: 1px;
    margin: 10px;
    padding: 20px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
  }
  .p_musicas p{
      margin-top: -0px;

  }
  #nome{
  padding: 5px;
  margin-left: 30px;
  display: inline-block;
  text-align: center;
  }
  #p_arte{
  height: 100px;
  width: 100px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  }
  #p_titulo{
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 160px;
    text-align: center;
    justify-content: center;
  }
  .p_musicas i{
    cursor: pointer;
    margin-top: 25px;
    margin-left: 100px;
  }